@using MVC_Demo.Models
@model IdentityModel
@{
    ViewBag.Title = "GenericForm";

    if (IsPost)
    {

    }

}

<h2>Hero Registration</h2>
<h4>@ViewBag.Message</h4>

<h6>Please enter the following information</h6>
@using (Html.BeginForm("Submit", "Hero", FormMethod.Post, new { @class = "cls" }))
{
    <div>
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(m => m.HeroName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.HeroName, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.OriginCity, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.OriginCity, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.SideKickName, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.SideKickName, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div>
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>



    @Html.ValidationSummary("", new { @class = "text-danger" })

    <input type="submit" class="btn btn-default" value="Submit" />
}